<h1>Le Polygone</h1>
<% if (ecoute != 0) { %>
<article>
	<h2>Coin <%= ecoute %></h2>
	<div class="details">
		<ul>
			<li><span class="num" id="nbEcoutes">0</span> Ecoutes</li>
		</ul>
	</div>
	<div id="lieu<%= ecoute %>" class="discussions"></div>
</article>
<% } %>
<article>
	<h2>Centre</h2>
	<div class="details">
		<ul>
			<li><span class="num" id="nbAnonymes">0</span> Anonymes</li>
		</ul>
	</div>
	<% if (ecoute != 0) { %>
	<button class ="boutonMove" onclick="goTo(0)" >Y retourner</button>
	<button id="toggleLieu0" onclick="toggle('lieu0', 'toggleLieu0');">Masquer</button>
	<% } %>
	<div id="lieu0" class="discussions"></div>
</article>
<article>
	<h2>Coins</h2>
	<div id="zoneCoins"><div id="coins"></div></div>
</article>