<div class='message'>
	<div class='bulle'>
		<p><strong><%= persCite %> : </strong><%= citation %></p>
	</div>
	<button type="button" form="formMessage" title="Citer" class="plus" onclick="citation(<%= id %>)">‹›</button>
</div>