<div class='message'>
	<div class='bulle'>
		<p><strong><%= pers_cite %> : </strong><%= citation %></p>
	</div>
	<button type="button" form="formMessage" title="Citer" class="plus" onclick="citation('<%= pers_cite %>', '<%= citation %>')">‹›</button>
</div>