@font-face {
	font-family: 'segoeuil';
	src: url('/styles/segoeuil.ttf');
}

@font-face {
	font-family: 'segoeui';
	src: url('/styles/segoeui.ttf');
}

body {
	margin: 5px;
}


a, p, h3, li, label, input, textarea {
	font-family: segoeui, Arial, sans-serif;
	font-size: 14px;
}

h1, h2 {
	margin: 10px 0;
	font-family: segoeuil, Arial, sans-serif;
	font-weight: 600;
	font-stretch: condensed;
}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

li {
	list-style-type: none;
}

ul {
	margin: 2px 2px;
	padding: 0;
}

.background {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.background canvas {
	position: absolute;
	top: calc(10% - 130px);
	left: calc(6% - 130px);
}

.background div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.colonne {
	position: relative;
	display: inline-block;
	width: 210px;
	height: 380px;
	margin-right: 5px;
	border-radius: 3px;
}

li.inactif {
	color: #aaaaaa;	
}
div.inactif .entete{
	background-color: #aaaaaa;	
}
div.inactif .bulleBackground {
	border-bottom-color: #aaaaaa;
	background-color: #aaaaaa;
}

.entete {
	padding: 2px;
	padding-left: 6px;
	border-radius: 3px 3px 0 0;
	
}

h3.nom {
	color: white;
	margin: 0;
	display: inline;
}

span.menuBouton {
	color: white;
	float: right;
	cursor: pointer;
}

div.menu {
	position: absolute;
	display: none;
	background-color: #eeeeee;
	border: solid 1px lightgray;
	min-width: 140px;
	top: 24px;
	right: 5px;
	z-index: 3;
}

div.menu ul>li {
	padding: 2px 17px;
	font-size: 13px;
	cursor: pointer;
}

div.menu ul>li:hover {
	background-color: #bbbbbb;
}

.dires {
	position: relative;
	height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	background-color: rgba(242, 242, 242, 0.7);
	border-radius: 0 0 3px 3px;
}

.personnels {
	height: 290px;
	
}

form {
	margin-bottom: 5px;
}
/*#boutonReduire {
	position: absolute;
	bottom: 0;
	right: 0;
}*/

.coin {
	height: auto;
	width: 200px;
	padding: 5px;
	vertical-align: top;
	background-color: rgba(242, 242, 242, 0.7);
	margin-bottom: 5px;
}

.coin>ul {
	margin-bottom: 10px;
}

#ajouterCoin {
	width: 40px;
	height: 40px;
	font-size: 35px;
	text-align: center;
	cursor: pointer;
}

#ajouterCoin:hover {
	background-color: rgba(204,204,204,0.7);
	
}

#discussions {
	display: block;
}

.discussions {
	min-height: 390px;
	white-space: nowrap;
	overflow: auto;	
}

#zoneCoins {
	white-space: nowrap;
	overflow: auto;
}

#coins{
	display: inline-block;
}

span.puce {
	display: inline-block;
	background-color: #dddddd;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	vertical-align: middle;
}

#interface {
	background-color: white;
	border: solid 1px #dddddd;
	padding: 5px;
}

#message {
	margin: 0;
	padding: 0 0 3px;
	border: none;
	width: 100%;
	display: block;
}

#message:focus  {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #dddddd;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #dddddd;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #dddddd;
}
:-moz-placeholder { /* Firefox 18- */
	color: #dddddd;
}

.zoneBoutons button{
	background-size: cover;
	padding: 12px;
	height: 0;
	width: 0;
}

.masque {
	display: none;
}

.pointe {
	width: 0; 
	height: 0; 
	position: relative;
	left: 8px;
	border-left: 0 solid transparent;
	border-right: 8px solid transparent;
}

.bulle {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	max-width: 155px;
	min-width: 15px;
	min-height: 19px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: rgba(49, 49, 49, 0.46);
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.bulle p{
	margin: 0;
	color: white;
}

.bulle a{
	color: white;
}

.bulle.cri p{
	font-size: 25px;
	font-weight: bold;
}

.bulle.citation .bulle {
	margin: 0;
	max-width: calc(100% - 10px);
}

button {
	background-color: #dddddd;
	border-radius: 2px;
	border: none;
	padding: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

button:hover:enabled {
	background-color: #bbbbbb;
	cursor: pointer;
}

.action {
	display: none;
}

.message{
	position: relative;
	z-index: 2;
}

.ecrit{
	z-index: 1;
}

.inline {
	display: inline-block;
}

section {
	margin-left: 205px;
	transform: translateX(none);
	transition-property: transform;
	transition-duration: 200ms;
}

nav {
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	height: 100%;
	width: 195px;
	background-color: rgba(242, 242, 242, 0.7);
}

p.error {
	background-color: rgba(255, 27, 62, 0.35);
	padding: 5px;
	margin: 0;
	border-radius: 3px;
	border: solid 1px red;
}

.description {
	display: block;
	margin-top: 30px;
	padding-right: 5px;
}

#memory {
	display: block;
	position: absolute;
	top: 170px;
	bottom: 0;
	width: 220px;
	overflow-y: auto;
}

.details, h2, .details li {
	display: inline-block;
}

.num {
	font-weight: bold;
}

.details {
	margin-left: 10px;
}

.details li {
	margin-left: 5px;
	border: solid 1px rgba(0, 0, 0, 0.15);
	padding: 2px 5px;
	border-radius: 2px;
}